* {
    box-sizing: border-box;
}
#root {
    margin: 10% auto;
    width: 40%;
}
.container {
    padding: 20% 10% 20% 10%;
    text-align: center;
    border: 1px solid gray;
    box-shadow:10px 10px 10px rgb(165, 164, 164);
    border-radius: 1rem;
}
#valueRender {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: 800;
}
.btn {
    display: inline-grid;
    gap: 40px;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
}
button {
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 200;
    background-color: rgb(218, 214, 214);
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}